doctype html
html
  head
    if locals.title
      title= title
    else
      title ADOID
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    block head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/main.js')
  |   
  body(unresolved)
    header
      if locals.title
        h1= title
      else
        h1 ADOID
    section
      main
        block content
