{
  "activeDirectory": {
    "host": "dc.example.com",
    "baseDN": "dc=example,dc=com",
    "username": "adoid",
    "password": "terriblepassword123"
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379
  },
  "secret": "changeme"
}
